@charset "UTF-8";

$fc: #fff;
$pc: 'screen and (min-width: 550px)';
#wrap {
	background-color: #242424;
	width: 100%;
	@media #{$pc} {
		background-color: yellow;
		width: 100px;
	}
	> h1 {
		display: none;
		width: 100%;
		text-align: center;
		@media #{$pc} {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	> header {
		height: 30px;
		border-bottom: 1px solid #000;
		@media #{$pc} {
			display: none;
		}

		> .statusbar {
			position: relative;
			margin: 0 10px;
			> .left {
				display: flex;
				flex-flow: row nowrap;
				> li {
					color: $fc;
					font-size: 15px;
					line-height: 30px;
					margin-right: 8px;
				}
			} //left

			> .right {
				position: absolute;
				top: 0;
				right: 0;
				display: flex;
				flex-flow: row wrap-reverse;
				> li {
					margin-left: 8px;
					font-size: 15px;
					color: $fc;
					line-height: 30px;
				}
			} //right
		} //.statusbar
	} //header
	> section {
		height: 791px;
		margin: 10px 15px;

		@media #{$pc} {
			display: none;
		}

		> .nav {
			position: relative;
			margin: 30px 0 40px 0;

			> .left {
				display: flex;
				flex-flow: row wrap;
				> li {
					color: $fc;
					font-size: 30px;
					line-height: 30px;
					margin-right: 10px;
					> a {
						color: $fc;
						font-size: 30px;
						line-height: 30px;
					}
					&:nth-child(2) {
						> a {
							color: #acacac;
						}
					}
				}
			}
			> .right {
				display: flex;
				flex-flow: row wrap-reverse;
				position: absolute;
				top: 0;
				right: 0;
				> li {
					> a {
						color: $fc;
						font-size: 30px;
						line-height: 30px;
						margin-left: 20px;
					}

					&:nth-child(3) {
						> a {
							&:hover {
								color: #82b3f2;
							}
						}
					}
				}
			} //right
		} //nav

		> .chat {
			> ul {
				position: relative;
				height: 70px;
				margin: 15px 0;
				display: flex;
				flex-flow: row wrap;

				&:hover {
					cursor: pointer;
				}
				> .friend {
					display: flex;
					flex-flow: row wrap;
					> img {
						width: 70px;
						height: 70px;
						border-radius: 30px;
						margin-right: 10px;
					}
					> ul {
						> li {
							&:nth-child(1) {
								line-height: 30px;
								font-size: 17px;
								color: $fc;
							}
							&:nth-child(2) {
								line-height: 30px;
								font-size: 14px;
								color: #acacac;
							}
						}
					}
				}

				> .date {
					position: absolute;
					right: 0;
					top: 0;
					color: $fc;
					> ul {
						> li {
							&:nth-child(1) {
								line-height: 30px;
							}
							&:nth-child(2) {
								margin: 0 auto;
								width: 15px;
								line-height: 15px;
								text-align: center;
								background-color: red;
								border-radius: 50px;
							}
						}
					}
				}
			}
		}
	} //section
	> footer {
		padding: 10px 0;
		border-top: 1px solid #000;
		@media #{$pc} {
			display: none;
		}
		> ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;

			> li {
				width: 40px;
				line-height: 30px;
				text-align: center;

				> a {
					font-size: 30px;
					color: $fc;
					&:hover {
						color: #95ddb3;
					}
				}
				&:nth-child(2) {
					position: relative;
					> ul {
						> li {
							position: absolute;
							top: 0px;
							left: 24px;
							color: $fc;
							margin: 0 auto;
							width: 15px;
							line-height: 15px;
							text-align: center;
							background-color: red;
							border-radius: 50px;
						}
					}
				}
			}
		}
	}
} //wrap
