#wrap {
  background-color: #242424;
  width: 100%;
}
@media screen and (min-width: 550px) {
  #wrap {
    background-color: yellow;
    width: 100px;
  }
}
#wrap > h1 {
  display: none;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 550px) {
  #wrap > h1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#wrap > header {
  height: 30px;
  border-bottom: 1px solid #000;
}
@media screen and (min-width: 550px) {
  #wrap > header {
    display: none;
  }
}
#wrap > header > .statusbar {
  position: relative;
  margin: 0 10px;
}
#wrap > header > .statusbar > .left {
  display: flex;
  flex-flow: row nowrap;
}
#wrap > header > .statusbar > .left > li {
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  margin-right: 8px;
}
#wrap > header > .statusbar > .right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap-reverse;
}
#wrap > header > .statusbar > .right > li {
  margin-left: 8px;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
}
#wrap > section {
  height: 791px;
  margin: 10px 15px;
}
@media screen and (min-width: 550px) {
  #wrap > section {
    display: none;
  }
}
#wrap > section > .nav {
  position: relative;
  margin: 30px 0 40px 0;
}
#wrap > section > .nav > .left {
  display: flex;
  flex-flow: row wrap;
}
#wrap > section > .nav > .left > li {
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  margin-right: 10px;
}
#wrap > section > .nav > .left > li > a {
  color: #fff;
  font-size: 30px;
  line-height: 30px;
}
#wrap > section > .nav > .left > li:nth-child(2) > a {
  color: #acacac;
}
#wrap > section > .nav > .right {
  display: flex;
  flex-flow: row wrap-reverse;
  position: absolute;
  top: 0;
  right: 0;
}
#wrap > section > .nav > .right > li > a {
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  margin-left: 20px;
}
#wrap > section > .nav > .right > li:nth-child(3) > a:hover {
  color: #82b3f2;
}
#wrap > section > .chat > ul {
  position: relative;
  height: 70px;
  margin: 15px 0;
  display: flex;
  flex-flow: row wrap;
}
#wrap > section > .chat > ul:hover {
  cursor: pointer;
}
#wrap > section > .chat > ul > .friend {
  display: flex;
  flex-flow: row wrap;
}
#wrap > section > .chat > ul > .friend > img {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 10px;
}
#wrap > section > .chat > ul > .friend > ul > li:nth-child(1) {
  line-height: 30px;
  font-size: 17px;
  color: #fff;
}
#wrap > section > .chat > ul > .friend > ul > li:nth-child(2) {
  line-height: 30px;
  font-size: 14px;
  color: #acacac;
}
#wrap > section > .chat > ul > .date {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
}
#wrap > section > .chat > ul > .date > ul > li:nth-child(1) {
  line-height: 30px;
}
#wrap > section > .chat > ul > .date > ul > li:nth-child(2) {
  margin: 0 auto;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background-color: red;
  border-radius: 50px;
}
#wrap > footer {
  padding: 10px 0;
  border-top: 1px solid #000;
}
@media screen and (min-width: 550px) {
  #wrap > footer {
    display: none;
  }
}
#wrap > footer > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#wrap > footer > ul > li {
  width: 40px;
  line-height: 30px;
  text-align: center;
}
#wrap > footer > ul > li > a {
  font-size: 30px;
  color: #fff;
}
#wrap > footer > ul > li > a:hover {
  color: #95ddb3;
}
#wrap > footer > ul > li:nth-child(2) {
  position: relative;
}
#wrap > footer > ul > li:nth-child(2) > ul > li {
  position: absolute;
  top: 0px;
  left: 24px;
  color: #fff;
  margin: 0 auto;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background-color: red;
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */